/* ELEMENTS STYLE  */
h1 {
  font-family: 'Montserrat';
  font-size: 4rem;
  position: absolute;
  width: 100%;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 3px rgb(208, 0, 0), 0 0 1em rgb(0, 0, 208),
    0 0 0.2em rgb(0, 0, 208);
}

.display-number {
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  background-color: white;
  border-radius: 200rem;
  color: #030325;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.rules-info {
  font-size: 0.8rem;
  color: #b6b6b6;
  letter-spacing: 0.5px;
}

.info {
  margin-bottom: 5rem;
  text-align: center;
}

.label {
  width: 50%;
  margin-left: auto;
}

.label-score {
  color: #cf3636;
}

.label-highscore {
  color: #e7f040;
  margin-top: 1rem;
}

.score,
.highscore {
  float: right;
  margin-top: 5px;
  font-weight: bold;
}

.highscore {
  color: #c28b15;
}

.score {
  color: #c31919;
}
