* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #030325;
  color: white;
  text-align: center;
  font-family: 'Roboto';
}

/* LAYOUT  */
header {
  position: relative;
  height: 30vh;
  border-bottom: 5px solid white;
}

main {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  height: 3vh;
  color: #2ae8e8;
  text-shadow: 1px 1px 2px #8becff;
}

.box-numbers {
  margin: 0 auto;
  width: 85%;
  height: 27vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32rem;
}

.right {
  font-size: 1.8rem;
  width: 32rem;
  text-align: left;
  position: relative;
}

/* ///////////////////////////////////// */
/* ELEMENTS STYLE  */

h1 {
  font-family: 'Montserrat';
  font-size: 4rem;
  position: absolute;
  width: 100%;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 3px red, 0 0 1em blue, 0 0 0.2em blue;
}

.display-number {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  color: #030325;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.rules-info {
  font-size: 0.8rem;
  color: #b6b6b6;
  letter-spacing: 0.5px;
}

.info {
  margin-bottom: 5rem;
}

.label {
  width: 56%;
  margin-left: auto;
}

.label-score {
  color: #e86b6b;
}

.label-highscore {
  color: #e7f040;
  margin-top: 1rem;
}

.score,
.highscore {
  float: right;
  margin-top: 5px;
}

.highscore {
  color: #c28b15;
}

.score {
  color: #d44949;
}

/* ///////////////////////////////////// */
/* Buttons  */

.back-arrow {
  font-size: 6rem;
  position: absolute;
  top: 0;
  left: 3rem;
  text-decoration: none;
  color: white;
}

.back-arrow:hover {
  text-shadow: 2px 2px 3px #bc1212, 0 0 2rem #0101cc, 0 0 0.5rem #0101cc;
  transform: translateY(-0.2rem);
}

.again {
  position: absolute;
  right: 3rem;
  top: 3rem;
  background-color: #0e4389;
  color: white;
}

.check {
  background-color: #7057d3;
  color: #e3ffff;
  margin-top: 1rem;
}

.guess {
  border: 4px solid white;
  border-radius: 2rem;
  background: none;
  color: #16d7d7;
  font-size: 5rem;
  font-weight: bold;
  width: 15rem;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 0.2rem;
}

.btn {
  border: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-0.4rem);
}

.check:hover {
  background-color: #5a1795;
  box-shadow: 0 0 23px 3.5px #258de8;
}

.again:hover {
  background-color: #16d7d7;
  color: #0a4157;
  box-shadow: 0 0 30px 4px #1f2de8;
}

.box-item {
  background-color: #0f5889;
  color: #cbcbf3;
  width: 5rem;
  height: 3.8rem;
  border-radius: 0.8rem;
  line-height: 2.5rem;
  font-size: 2rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.box-item:hover {
  background-color: #0f83d1;
  color: #e5e5e9;
  transform: translateY(-0.15rem);
}

.hidden {
  display: none;
}

.nope {
  visibility: hidden;
}
