* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #030325;
  color: white;
  text-align: center;
  font-family: 'Roboto';
}

/* LAYOUT  */
header {
  position: relative;
  height: 30vh;
  border-bottom: 5px solid white;
}

main {
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  height: 3vh;
  color: #2ae8e8;
  text-shadow: 1px 1px 2px #8becff;
}
article {
  height: 27vh;
  display: flex;
  align-items: flex-end;
}

.box-numbers {
  height: 65%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.right {
  font-size: 1.8rem;
  width: 35%;
  text-align: left;
  position: relative;
}

/* ///////////////////////////////////// */
/* ELEMENTS STYLE  */

h1 {
  font-family: 'Montserrat';
  font-size: 4rem;
  position: absolute;
  width: 100%;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 3px red, 0 0 1em blue, 0 0 0.2em blue;
}

.display-number {
  width: 7.5rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  background-color: white;
  border-radius: 200rem;
  color: #030325;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.rules-info {
  font-size: 0.8rem;
  color: #b6b6b6;
  letter-spacing: 0.5px;
}

.info {
  margin-bottom: 5rem;
  text-align: center;
}

.label {
  width: 50%;
  margin-left: auto;
}

.label-score {
  color: #e86b6b;
}

.label-highscore {
  color: #e7f040;
  margin-top: 1rem;
}

.score,
.highscore {
  float: right;
  margin-top: 5px;
  font-weight: bold;
}

.highscore {
  color: #c28b15;
}

.score {
  color: #d44949;
}

/* ///////////////////////////////////// */
/* Buttons  */

.back-arrow {
  font-size: 6rem;
  position: absolute;
  top: 0;
  left: 3rem;
  text-decoration: none;
  color: white;
}

.back-arrow:hover {
  text-shadow: 2px 2px 3px #bc1212, 0 0 2rem #0101cc, 0 0 0.5rem #0101cc;
  transform: translateY(-0.2rem);
}

.again {
  position: absolute;
  right: 3rem;
  top: 3rem;
  background-color: #0e4389;
  color: white;
}

.check {
  background-color: #7057d3;
  color: #e3ffff;
  margin-top: 1rem;
}

.guess {
  border: 4px solid white;
  border-radius: 2rem;
  background: none;
  color: #16d7d7;
  font-size: 5rem;
  font-weight: bold;
  width: 15rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.6rem;
}

.btn {
  border: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-0.4rem);
}

.check:hover {
  background-color: #5a1795;
  box-shadow: 0 0 23px 3.5px #258de8;
}

.again:hover {
  background-color: #16d7d7;
  color: #0a4157;
  box-shadow: 0 0 30px 4px #1f2de8;
}

.box-item {
  background-color: #0f5889;
  color: #cbcbf3;
  width: 7%;
  height: 40%;
  border-radius: 0.8rem;
  line-height: 2.5rem;
  font-size: 2rem;
  margin: 0.3rem 0.3rem 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.box-item:hover {
  background-color: #0f83d1;
  color: #e5e5e9;
  transform: translateY(-0.3rem);
}

.hidden {
  display: none;
}

.nope {
  visibility: hidden;
}

/* RESSPONSIVE  */

/* LAPTOP AND COMPUTER DEVICES */
@media screen and (min-height: 900px) and (min-width: 1460px) {
  footer {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 5.5rem;
  }
  .guess {
    border: 6px solid white;
    border-radius: 2.5rem;
    font-size: 7rem;
    width: 30rem;
    padding: 1.9rem;
    margin-bottom: 1rem;
  }
  .rules-info {
    font-size: 1.6rem;
  }
  .btn {
    border-radius: 15rem;
    font-size: 2.4rem;
    padding: 1.5rem 3rem;
  }
  .back-arrow {
    font-size: 9rem;
  }
  .left {
    margin: 0 auto;
  }
  .right {
    width: 45%;
  }
  .label {
    margin-right: 5rem;
    width: 55%;
    font-size: 2.7rem;
  }
  .info {
    font-size: 2.5rem;
  }
  .display-number {
    width: 11rem;
    height: 11rem;
    font-size: 7rem;
  }
}

@media screen and (min-height: 900px) and (max-width: 1460px) {
  footer {
    font-size: 1.3rem;
  }
  h1 {
    top: 50%;
    font-size: 4.5rem;
  }
  .guess {
    border: 5px solid white;
    border-radius: 2.2rem;
    font-size: 6rem;
    width: 22rem;
    padding: 1.6rem;
    margin-bottom: 1rem;
  }
  .rules-info {
    font-size: 1.6rem;
  }
  .btn {
    border-radius: 15rem;
    font-size: 2.1rem;
    padding: 1.3rem 2.6rem;
  }
  .back-arrow {
    font-size: 7.5rem;
  }
  .left {
    margin: 0 auto;
  }
  .right {
    width: 45%;
  }
  .label {
    margin-right: 5rem;
    width: 60%;
    font-size: 2.4rem;
  }
  .info {
    font-size: 2rem;
  }
  .display-number {
    font-size: 6.5rem;
    width: 10rem;
    height: 10rem;
  }
  .box-item {
    width: 6.5%;
  }
}

@media screen and (max-height: 900px) and (min-width: 1460px) {
  footer {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 5.5rem;
  }
  main {
    align-items: flex-end;
  }
  .guess {
    border: 5px solid white;
    border-radius: 2.3rem;
    font-size: 6.5rem;
    width: 25rem;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .rules-info {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 15rem;
    font-size: 2.4rem;
    padding: 1.5rem 3rem;
  }
  .check {
    margin-top: 0.3rem;
  }
  .back-arrow {
    font-size: 9rem;
  }
  .left {
    margin: 0 auto;
  }
  .right {
    width: 45%;
  }
  .label {
    margin-right: 5rem;
    width: 50%;
    font-size: 2.6rem;
  }
  .info {
    font-size: 2.5rem;
  }
  .display-number {
    width: 8.5rem;
    height: 8.5rem;
  }
}

@media screen and (max-height: 900px) and (max-width: 1460px) {
  .guess {
    border: 5px solid white;
    border-radius: 2rem;
    font-size: 6rem;
    width: 20rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
  .rules-info {
    font-size: 1.1rem;
  }
  .btn {
    padding: 1.4rem 2.8rem;
    font-size: 2rem;
  }
  .again {
    top: 2rem;
    right: 1rem;
  }
  .label {
    width: 60%;
  }
  .box-item {
    border-radius: 0.45rem;
    line-height: 1.85rem;
    font-size: 1.7rem;
    margin: 0.2rem 0.18rem 0 0.18rem;
  }
  .display-number {
    font-size: 5rem;
  }
}

@media (max-height: 760px) and (min-width: 1400px) {
  header {
    height: 30vh;
  }
  footer {
    font-size: 1.15rem;
  }
  article {
    height: 67vh;
    float: left;
    width: 50%;
    padding-bottom: 0.5rem;
  }
  h1 {
    font-size: 4.5rem;
    top: 30%;
  }
  .box-numbers {
    align-content: flex-end;
    height: 90%;
    width: 100%;
  }
  main {
    height: 67vh;
    width: 50%;
  }
  footer::before {
    content: '';
    clear: both;
    display: block;
  }
  .box-item {
    width: 12%;
    height: 20%;
  }
  .display-number {
    width: 8.5rem;
    height: 8.5rem;
  }
  .label {
    width: 70%;
    margin-right: 3rem;
    font-size: 2.2rem;
  }
  .info {
    margin-bottom: 5rem;
    font-size: 2.3rem;
  }
  .right {
    width: 50%;
    margin: auto 0;
  }
  .left {
    margin-bottom: 1.5rem;
    width: 50%;
  }
}

@media (max-height: 600px) and (min-width: 1400px) {
  header {
    height: 30vh;
  }
  footer {
    font-size: 1rem;
  }
  article {
    height: 67vh;
    float: left;
    width: 50%;
    padding-bottom: 0.5rem;
  }
  h1 {
    font-size: 4rem;
    top: 30%;
  }
  .box-numbers {
    align-content: flex-end;
    height: 90%;
    width: 100%;
  }
  main {
    height: 67vh;
    width: 50%;
  }
  footer::before {
    content: '';
    clear: both;
    display: block;
  }
  .again {
    top: 1rem;
    right: 1rem;
  }
  .box-item {
    width: 12%;
    height: 20%;
  }
  .display-number {
    width: 7.5rem;
    height: 7.5rem;
  }
  .label {
    width: 70%;
    margin-right: 3rem;
    font-size: 2rem;
  }
  .info {
    margin-bottom: 5rem;
    font-size: 2rem;
  }
  .right {
    width: 50%;
    margin: auto 0;
  }
  .left {
    margin-bottom: 0.5rem;
    width: 50%;
  }
  .guess {
    border: 4px solid white;
    font-size: 5.8rem;
    width: 20rem;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .rules-info {
    font-size: 1.2rem;
  }
}

@media (max-height: 500px) and (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
    top: 27%;
  }
  .btn {
    font-size: 1.4rem;
    padding: 1.3rem 2.6rem;
  }
  .display-number {
    width: 6.5rem;
    height: 6.5rem;
  }
  .info {
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
  }
  .guess {
    border: 3px solid white;
    font-size: 5rem;
    width: 16rem;
    padding: 1.2rem;
    margin-bottom: 0;
  }
  .rules-info {
    font-size: 1rem;
  }
}

/* MOBILE DEVICES  */
/* PORTRAIT */
@media screen and (max-width: 1050px) and (max-height: 1400px) {
  h1 {
    font-size: 4.5rem;
    top: 55%;
  }
  header {
    height: 27vh;
  }
  article {
    height: 30vh;
  }
  .btn {
    padding: 1.4rem 2.8rem;
    font-size: 2.2rem;
  }
  .back-arrow {
    font-size: 7rem;
    top: -1rem;
    left: 2rem;
  }
  .again {
    top: 1.2rem;
    right: 1.2rem;
  }
  .box-numbers {
    height: 75%;
  }
  .box-item {
    width: 10%;
    height: 31%;
    border-radius: 0.5rem;
    line-height: 1.85rem;
    font-size: 1.4rem;
    margin: 0.2rem 0.18rem 0 0.18rem;
  }
  .guess {
    border: 4px solid white;
    padding: 1.5rem 3rem;
    width: 22rem;
    margin-bottom: 0.2rem;
    font-size: 7rem;
  }
  .right {
    width: 45%;
  }
  .left {
    width: 53%;
  }
  .label {
    width: 70%;
    font-size: 2rem;
    margin-right: 1rem;
  }
  .score,
  .highscore {
    margin-top: 1.2px;
  }
  .info {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .rules-info {
    font-size: 1.3rem;
  }
  footer {
    font-size: 1.3rem;
  }
  .display-number {
    font-size: 5.5rem;
    width: 9.5rem;
    height: 9.5rem;
  }
}

@media screen and (max-width: 780px) and (max-height: 1150px) {
  h1 {
    font-size: 3.6rem;
  }
  .btn {
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
  }
  .back-arrow {
    font-size: 6.5rem;
    left: 1rem;
  }
  .display-number {
    width: 8rem;
    height: 8rem;
  }
  .guess {
    width: 18rem;
  }
  .info {
    font-size: 1.6rem;
  }
  .label {
    width: 75%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) and (max-height: 960px) {
  h1 {
    font-size: 2.3rem;
    top: 55%;
  }
  header {
    height: 27vh;
  }
  article {
    height: 30vh;
  }
  .btn {
    padding: 0.85rem 1.7rem;
    font-size: 1.3rem;
  }
  .back-arrow {
    font-size: 4rem;
    top: -0.5rem;
    left: 0.8rem;
  }
  .again {
    top: 0.8rem;
    right: 0.8rem;
  }
  .box-numbers {
    height: 75%;
  }
  .box-item {
    width: 9.5%;
    height: 31%;
    border-radius: 0.45rem;
    line-height: 1.85rem;
    font-size: 1.4rem;
    margin: 0.2rem 0.18rem 0 0.18rem;
  }
  .guess {
    border: 3px solid white;
    padding: 1rem 2rem;
    width: 12rem;
    margin-bottom: 0.2rem;
    font-size: 5rem;
  }
  .right {
    width: 45%;
  }
  .left {
    width: 53%;
  }
  .label {
    width: 80%;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .score,
  .highscore {
    margin-top: 1.5px;
  }
  .info {
    font-size: 1.15rem;
    margin-bottom: 3rem;
  }
  .rules-info {
    font-size: 0.8rem;
  }
  footer {
    font-size: 0.8rem;
  }
  .display-number {
    font-size: 4rem;
    width: 5.5rem;
    height: 5.5rem;
  }
}

@media screen and (max-width: 560px) and (max-height: 680px) {
  h1 {
    font-size: 1.95rem;
  }
  .btn {
    padding: 0.7rem 1.4rem;
    font-size: 1.1rem;
  }
  .again {
    top: 0.5rem;
    right: 0.3rem;
  }
  .box-item {
    width: 9%;
  }
  .display-number {
    font-size: 3.7rem;
    width: 5rem;
    height: 5rem;
  }
  .guess {
    padding: 0.65rem 1.3rem;
    width: 9.5rem;
    font-size: 4rem;
  }
  .label {
    width: 88%;
    font-size: 0.9rem;
    margin-right: 0.2rem;
  }
  .info {
    font-size: 1rem;
  }
  .rules-info {
    font-size: 0.7rem;
  }
  .back-arrow {
    top: -1rem;
    left: 0.5rem;
  }
  .score,
  .highscore {
    margin-top: 3px;
  }
}

/* LANDSCAPE  */

@media screen and (orientation: landscape) and (max-height: 1050px) and (max-width: 1400px) {
  header {
    height: 35vh;
  }
  footer {
    font-size: 1.3rem;
  }
  article {
    height: 62vh;
    float: left;
    width: 50%;
    padding-bottom: 0.5rem;
  }
  h1 {
    font-size: 6rem;
    top: 53%;
  }
  .box-numbers {
    align-content: flex-end;
    height: 90%;
    width: 100%;
  }
  main {
    align-items: flex-end;
    height: 62vh;
    width: 50%;
  }
  footer::before {
    content: '';
    clear: both;
    display: block;
  }
  .box-item {
    width: 12%;
    height: 20%;
  }
  .display-number {
    width: 11rem;
    height: 11rem;
  }
  .label {
    width: 90%;
    margin-right: 1rem;
    font-size: 2rem;
  }
  .info {
    margin-bottom: 8rem;
    font-size: 2.1rem;
  }
  .right {
    margin-bottom: 3rem;
    width: 45%;
  }
  .left {
    margin-bottom: 5rem;
    width: 50%;
  }
  .guess {
    border: 4px solid white;
    padding: 1rem 2rem;
    width: 22rem;
    margin-bottom: 0.4rem;
    font-size: 10rem;
  }
  .rules-info {
    font-size: 1.15rem;
  }
  .btn {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
  }
  .again {
    top: 1.2rem;
    right: 1rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 900px) and (max-width: 1300px) {
  .display-number {
    width: 9rem;
    height: 9rem;
  }
  h1 {
    font-size: 5rem;
    top: 55%;
  }
  .btn {
    font-size: 2.2rem;
    padding: 1.3rem 2.6rem;
  }
  .guess {
    width: 19rem;
    font-size: 9rem;
  }
  .left {
    margin-bottom: 3rem;
  }
  .label {
    font-size: 1.8rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 900px) and (max-width: 1100px) {
  .info {
    font-size: 1.7rem;
  }
  .guess {
    width: 15rem;
    font-size: 7.5rem;
  }
  .label {
    font-size: 1.3rem;
  }
  .btn {
    font-size: 1.7rem;
  }
  .right {
    margin-bottom: 3rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 780px) and (max-width: 1560px) {
  h1 {
    font-size: 3.7rem;
    top: 46%;
    left: 48%;
  }
  footer {
    font-size: 0.9rem;
  }
  .guess {
    width: 17rem;
    font-size: 7rem;
  }
  .label {
    font-size: 1.6rem;
  }
  .info {
    font-size: 1.6rem;
    margin-bottom: 6rem;
  }
  .display-number {
    width: 8rem;
    height: 8rem;
  }
  .back-arrow {
    font-size: 6rem;
    left: 2rem;
  }
  .btn {
    font-size: 1.75rem;
    padding: 1.1rem 2.2rem;
  }
  .rules-info {
    font-size: 0.85rem;
  }
  .left {
    align-self: center;
    margin-top: 5rem;
  }
  .right {
    margin-bottom: 1rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 780px) and (max-width: 980px) {
  h1 {
    font-size: 3.2rem;
    top: 52%;
  }
  .guess {
    border: 3px solid white;
    width: 12rem;
    font-size: 5.5rem;
  }
  .left {
    margin-bottom: 1rem;
  }
  .label {
    font-size: 1.1rem;
  }
  .btn {
    font-size: 1.3rem;
  }
  .display-number {
    font-size: 4rem;
    width: 7rem;
    height: 7rem;
  }
  .info {
    font-size: 1.25rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 560px) and (max-width: 960px) {
  footer {
    font-size: 0.6rem;
  }
  header {
    border-bottom: 4px solid white;
  }
  h1 {
    font-size: 2.8rem;
    top: 45%;
  }
  .display-number {
    width: 4.7rem;
    height: 4.7rem;
    font-size: 3.7rem;
  }
  .btn {
    font-size: 1.15rem;
    padding: 0.8rem 1.6rem;
  }
  .guess {
    border: 3px solid white;
    border-radius: 1.5rem;
    width: 11rem;
    font-size: 3.5rem;
  }
  .left {
    margin-bottom: 1.5rem;
  }
  .check {
    margin-top: 0.5rem;
  }
  .label {
    font-size: 1rem;
    width: 75%;
  }
  .right {
    margin-bottom: 2rem;
  }
  .info {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }
  .rules-info {
    font-size: 0.65rem;
  }
  .back-arrow {
    font-size: 5.5rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 560px) and (max-width: 790px) {
  h1 {
    font-size: 2.15rem;
    left: 48%;
  }
  footer {
    font-size: 0.55rem;
  }
  .display-number {
    width: 4.3rem;
    height: 4.3rem;
    font-size: 3rem;
  }
  .rules-info {
    font-size: 0.55rem;
  }
  .label {
    font-size: 0.85rem;
    width: 90%;
    margin-right: 0.5rem;
  }
  .btn {
    font-size: 1rem;
  }
  .info {
    font-size: 1rem;
  }
  .right {
    margin-bottom: 1rem;
  }
  .guess {
    width: 10rem;
    font-size: 3.2rem;
  }
  .again {
    top: 0.7rem;
    right: 0.5rem;
  }
  .back-arrow {
    font-size: 4.5rem;
  }
  .left {
    margin-bottom: 2rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 560px) and (max-width: 680px) {
  h1 {
    font-size: 2rem;
  }
  footer {
    font-size: 0.45rem;
  }
  .rules-info {
    font-size: 0.53rem;
  }
  .btn {
    font-size: 0.9rem;
  }
  .guess {
    border-radius: 1.3rem;
    width: 9rem;
    font-size: 3rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 380px) and (max-width: 680px) {
  h1 {
    font-size: 1.7rem;
  }
  .display-number {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.5rem;
  }
  .btn {
    font-size: 0.8rem;
    padding: 0.7rem 1.4rem;
  }
  .rules-info {
    font-size: 0.5rem;
  }
  .guess {
    font-size: 2.7rem;
    width: 8rem;
  }
  .left {
    margin-bottom: 3.5rem;
  }
}
