* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #030325;
  color: white;
  text-align: center;
  font-family: 'Roboto';
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  font-family: 'Montserrat';
  text-shadow: 2px 2px 3px red, 0 0 1em blue, 0 0 0.2em blue;
}

.container {
  height: 100vh;
  padding: 5% 8%;
}

a {
  text-decoration: none;
  color: #fff;
  border-radius: 2rem;
  background-color: #474ae2;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 2.5px 2.5px 4px #000;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

a:hover {
  background-color: #1a1ca9;
  box-shadow: 0 0 30px 4px #777edf;
}

.heading-container {
  margin: 0 auto;
  width: 55%;
}

.num-icon {
  margin-top: 0.5rem;
  display: block;
  font-size: 6.5rem;
}

.game-rules {
  background-color: transparent;
  font-size: 1.4rem;
  width: 65%;
  margin: 1.5rem auto 5rem;
  text-shadow: 1.5px 1.5px 3px red, 0 0 0.8em rgb(101, 101, 251), 0 0 2em #fff;
}
